/* reset and common styles */
* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
}

html {
  /* reseting to this size means that default size is 10px which makes using rem easier */
  font-size: 62.5%;
}

/* End of Reset */

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #131322;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #0d7154;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  cursor: pointer;
  font-size: 2.5rem;
}

.month h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.week-wrapper {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.week-wrapper div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.4rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days div:hover:not(.current) {
  background-color: #262626;
  border: 0.2rem solid #7777;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pre-date,
.next-date {
  opacity: 0.5;
}

.current {
  background-color: #0d7154;
}
